@import input-mixin

/*
 TopCoat Icon Button
 -------------------

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state

    <input type="search" value="" placeholder="Text input goes here">
    <input type="search is-disabled" value="" placeholder="Text input goes here">

 */

.search-input
    input-base()
    border var-border
    background-color var-background-color
    box-shadow var-box-shadow--down
    color var-color
    -webkit-appearance none
    padding: 0 0 0 2.7em
    border-radius var-border-radius
    background-image var-background-img
    background-position 1em center
    background-repeat no-repeat

.search-input:focus
    background-color var-background-color--focus
    color var-color-focus

.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-decoration
    margin-right 5px

.search-input:focus::-webkit-input-placeholder,
.search-input:focus::-webkit-input-placeholder
    color var-placeholder-color--input

.search-input:disabled,
.search-input.is-disabled
    disabled()

/*
 TopCoat Large Search Input
 ------------------------

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state

    <input type="search" class="topcoat-text-input--large" value="" placeholder="Text input goes here">
    <input type="search" class="topcoat-text-input--large is-disabled" value="" placeholder="Text input goes here">
    
*/

.search-input--large
    @extend .search-input
    height var-height--large
    font-size var-font-size--large
    font-weight var-font-weight
    padding-left 2.8em
    border-radius var-border-radius--large
    background-position 1.2em center

.search-input--large:focus
    @extend .search-input:focus

@import media-search-input

.search-input--large:disabled,
.search-input--large.is-disabled
    disabled()