@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi)
	   	.topcoat-search-input
			background-image url("../img/search-bg2x.png")
			background-size 20px
